{{ this.isOpen() }}

@if (isOpen()) {
    <div class="overlay" (click)="close()"></div>
    <div class="card red">
        <div class="card-header" (click)="close()">
            <p>ETAPE {{ step() + 1 }} / 4</p>
            @if (step() === 0) {
                <h1 class="animate__animated animate__bounceInLeft">Démarrons une analyse ensemble, donnez-moi
                    l'adresse</h1>
            }
            @if (step() === 1) {
                <h1 class="animate__animated animate__bounceInLeft">Décrivez-moi les caractéristiques du bien</h1>
            }
            @if (step() === 2) {
                <h1 class="animate__animated animate__bounceInLeft">Décrivez-moi les prestations du bien</h1>
            }
            @if (step() === 3) {
                <h1 class="animate__animated animate__bounceInLeft">Quel est le prix demandé ?</h1>
            }
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="close">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
        <div class="card-body">
            <!-- STEP 1 -->
            @if (step() === 0) {
                <h3 class="animate__animated animate__bounceInLeft">
                    <i class="bi bi-geo"></i>
                    Localisation
                </h3>
                <div class="animate__animated animate__bounceInLeft" style="position: relative; margin: 0;">
                    <input
                        type="text"
                        placeholder="Adresse"
                        [ngModel]="query()"
                        (ngModelChange)="query.set($event)">

                    @if (addresses().length > 0) {
                        <ul>
                            @for (address of addresses(); track address.properties.id) {
                                <li (click)="selectAddress(address)">
                                    {{ address.properties.label }}
                                </li>
                            }
                        </ul>
                    }
                </div>
            }

            <!-- STEP 2 -->
            @if (step() === 1) {
                <h3 class="animate__animated animate__bounceInLeft">
                    <i class="bi bi-card-list"></i>
                    Caractéristiques
                </h3>

                <div style="margin: 0;" class="animate__animated animate__bounceInLeft">
                    <select class="type" [(ngModel)]="form.sourceSite">
                        <option value="" selected>Site de l'annonce</option>
                        <option value="paruvendu">Paru Vendu</option>
                        <option value="pap">PAP</option>
                        <option value="ladresse">L'adresse</option>
                        <option value="logicimmo">Logic Immo</option>
                        <option value="seloger">Se Loger</option>
                        <option value="orpi">Orpi</option>
                        <option value="century21">Century 21</option>
                        <option value="figaroimmobilier">Figaro immobilier</option>
                        <option value="autres">Autres</option>
                    </select>

                    <select class="type" [(ngModel)]="form.typeLocal">
                        <option value="" selected>Type de bien</option>
                        <option value="Appartement">Appartement</option>
                        <option value="Maison">Maison</option>
                    </select>

                    <div class="d-flex">
                        <input type="number" class="etage" placeholder="Pièces" [(ngModel)]="form.pieces">
                        <input type="number" class="etage" placeholder="Surface" [(ngModel)]="form.surface">
                        @if (form.typeLocal === 'Appartement') {
                            <input type="number" class="etage" placeholder="Étage" [(ngModel)]="form.etage">
                        }
                        @if (form.typeLocal === 'Maison') {
                            <input type="number" class="etage" placeholder="Terrain" [(ngModel)]="form.terrain">
                        }
                    </div>
                </div>
            }

            <!-- STEP 3 -->
            @if (step() === 2) {
                <h3 class="animate__animated animate__bounceInLeft">
                    <i class="bi bi-lightbulb"></i>
                    Prestations
                </h3>
                <div style="margin: 0;" class="animate__animated animate__bounceInLeft">
                    <select class="etat" [(ngModel)]="form.etat">
                        <option value="" selected>État du bien</option>
                        <option value="neuf">Neuf</option>
                        <option value="excellent">Excellent état</option>
                        <option value="bon">Bon état</option>
                        <option value="à_rafraîchir">À rafraîchir</option>
                        <option value="à_rénover">À rénover</option>
                    </select>
                    <select class="dpe" [(ngModel)]="form.dpe">
                        <option value="">DPE</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                        <option>F</option>
                        <option>G</option>
                    </select>
                    <div class="property-features">

                        <div
                            class="feature-group"
                            *ngFor="let group of propertyFeatureGroups"
                        >

                            <div class="feature-group-title">
                                {{ group.title }}
                            </div>

                            <div class="feature-list">
                                <ng-container *ngFor="let feature of group.features">
                                    <label
                                        class="container"
                                        *ngIf="isFeatureVisible(feature)"
                                    >
                                        {{ feature.label }}
                                        <input
                                            type="checkbox"
                                            [(ngModel)]="form.propertyFeatures[feature.key]"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- STEP 4 -->
            @if (step() === 3) {
                <h3 class="animate__animated animate__bounceInLeft">
                    <i class="bi bi-currency-euro"></i>
                    Prix
                </h3>
                <div style="margin: 0;" class="animate__animated animate__bounceInLeft">
                    <input type="number" placeholder="Prix demandé" [(ngModel)]="form.prix">
                </div>
            }

        </div>
        <!-- NAVIGATION -->
        <div class="actions progress">

            @if (step() > 0) {
                <button class="btn-secondary" (click)="back()">Retour</button>
            }

            @if (step() < 3) {
                <a class="btn-primary" (click)="next()">Suivant</a>
            }

            @if (step() === 3) {
                <a class="btn-primary" (click)="submit()">Valider</a>
            }
        </div>

        @if (errorMessage()) {
            <div class="error-message animate__animated animate__shakeX">
                <i class="bi bi-exclamation-triangle"></i>
                {{ errorMessage() }}
            </div>
        }
    </div>
}

