<div class="language-switcher">

    <button
        class="language-button"
        (click)="toggle()"
    >
        <span>
            {{ currentLanguage.flag }}
            {{ currentLanguage.code.toUpperCase() }}
        </span>

        <i class="bi bi-chevron-down"></i>
    </button>

    @if (open) {
        <div
            class="language-menu"
        >

            @for (lang of languages; track lang.code) {

                <button
                    class="language-item"
                    (click)="changeLanguage(lang.code)"
                >
                <span>
                    {{ lang.flag }}
                </span>

                    {{ lang.label }}

                    @if (lang.code === currentLanguage.code) {
                        <i class="bi bi-check"></i>
                    }

                </button>

            }

        </div>
    }


</div>
